@model project4.Models.styles

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<link href="~/Content/styles.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "styles", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>styles</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*@Html.HiddenFor(model => model.OID)*@
        @*@Html.HiddenFor(model => model.StylesID)*@

        <div class="form-group">
            @*@Html.LabelFor(model=>model.StylesID, "StyleID", htmlAttributes: new {@class="control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("OID", null, htmlAttributes: new { @Hidden = "hidden" })
                @Html.ValidationMessageFor(model => model.OID, "", new { @class = "text-danger" })
            </div>
        </div>
   

        <div class="form-group">
            @Html.LabelFor(model => model.about, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.about, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.about, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" required>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.style, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.style, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.style, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.video, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.video, new { htmlAttributes = new { @class = "form-control", placeholder = "79aYSOcmpV8" } })
                @Html.ValidationMessageFor(model => model.video, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
